
  /* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  .pinkwords{
   color:pink;
  }
  .links{
    text-decoration: none; 
    color:white; 
    font-size: 10px;
  }
  .instragram-text{
    font-family: coffee; 
    color: #f22691; 
    font-size:20px;
  }
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  .choc-img{
    background-image: url(summer-sensations.jpg);
     background-position: center center; 
     background-size:cover;
  }
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 320px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }

  .remove-padding{
    padding: 0%;
    padding-left: 0%;
  }
  .rstyle{
    list-style: none;
  }
  .bcolor{
      background-color:white;
      color: #f22691;
  }
  .flow{
    height: 150px;
  }

@font-face {
  font-family: rounded-bold;
  src: url('VAG Rounded Bold.ttf');
 
}
@font-face{
  font-family: coffee;
  src: url('Coffee Script.ttf');
}
.car-btn{
  background-color: #f22691;
  border: 9px;
 
}
.car-inner-btn{
  border: 9px;
  background-color: #f22691;
  border: black;
  border-radius: 20px;
}
.fa-margin{
  margin-right: 10px;
}

.btncust{
  padding-top: 15px;
}
#nav-social{
margin-left: 32px;
padding-right: 0px;
text-align: center;
opacity: 0.7;
position: inherit;
}
.fa-icon{
  background-color: grey;
  color: white;
  font-size: 20px;
  margin-left: 3px;
  line-height: 26px;
}
.fa-icon-bottom{
  font-size:18px; 
  color: white;
  margin-right: 2px;
}
.lets-connect{
  color: grey;
  margin: 0%;
}
.container-fluid {
  width: 100%;
   padding-right: 0px; 
  padding-left: 0px; 
 
}

/*small phones*/
@media screen and (min-width:320px) and (max-width:444px) {
  .food{
    margin-left: 45px;
    padding-top: 70px;
  }
  .scol{
    margin: 0%;
    padding: 0%;
  }
  .footer-text{
    font-size: 12px;
   }
  .btm-img-text{
    padding: 15px;
     width: 50%; 
     color: #f22691;
  }
  div.container{
    padding: 0%;
  }
  .insta-text{
    padding:25px;
     margin-left:17%;
    }
    .md-text{
      font-size: 15px; text-align: left;
      background-color:#462202;
    }
  .md{
    display: none;
  }
  div.col{
    padding-right: 0px;
  }
  .row{
    margin-right: 0px;
  }
 .menu{
   font-size:18px;
   color:rgb(119, 40, 40);  

 }
 .mainhome{
  background-image: url(bg.jpg);
 }
.fa-icon{
  font-size: 14px;
  line-height: 26px;
  }
  #nav-social{
    margin-left: 0%;
   }
   .fa-icon-bottom{
     font-size: 12px;
   }
   .rstyle li{
     width: 100px;
   }
   .in-menu{
    font-family: rounded-bold; 
    font-size:20px;
    color:#ff6600;
   
   }
   .car-text{
     visibility: hidden;
   }
   .cust{
    height: 0.3rem;
    background-color:#f22691; 
    display: block;
    margin-top: 3px;
    border-radius: 40px;
  }
  .h3-pink{
    font-family: coffee; color:white;
    font-size:24px; transform: skewY(2deg);
    -webkit-transform: skewY(-12deg);
  }
  .btm-img{

    text-align: center;
     background-position: center; 
    background-size: cover; 
    background-image: url(bg-btm.png);
  }
  .md-text{
    font-size: 12px; 
    text-align: left;
    background-color: #f22691;
     color:white;
  }
  .md-text-brown{
    font-size: 15px; 
    text-align: left;
    background-color: #462202; 
    color:white;

  }
  .pink-footer{
    font-size: 14px;
  }
  .coffeetext{
    font-family: coffee; 
    font-size:24px;
     color:white;
     transform: skewY(2deg);
     -webkit-transform: skewY(-12deg);
  }
  .coffee-top{
    font-family: coffee; 
    font-size:24px;
     color:#f22691;
     transform: skewY(2deg);
     -webkit-transform: skewY(-12deg);
  }
  .md-skew{
    font-family: coffee;
    color: #f22691;
    font-size: 15px;
    transform: skewY(2deg);
    -webkit-transform: skewY(-12deg);
  }
  }
/* Medium devices (tablets, 768px and up)*/
@media (max-width:767px ) and (min-width:444px) { 
  .food{
    margin-left: 50px;
    padding-top: 70px;
  }
  .footer-text{
    font-size: 15px;
   }
   .pink-footer{
    font-size: 14px;
    width: 40%;
  }
  .links{
    text-decoration: none; 
    color:white; 
    font-size: 14px;
  }
  .btm-img-text{
    padding: 15px;
     width: 50%; 
     color: #f22691;
  }
  .btm-img{

    text-align: center;
     background-position: center; 
    background-size: cover; 
    background-image: url(bg-btm.png);
  }
  .fa-icon{
    font-size: 16px;
    line-height: 26px;
    }
  div.col-7{
    -webkit-box-flex: 0;
    flex: 0 0 50.333333%;
    max-width: 61.333333%;
  }
  .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 24.666667%;
}
  .container {
    width: 100%;
    margin-left: 50px;
    padding-top: 40px;
}
  .md{
    display:inline-block; 
  }
  .ml{
    display: none;
  }
  .insta-text{
   padding:25px;
   margin-left:35%;
  }
  .mainhome{
    background-image: url(right-parallax.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: right;
    background-color: #f2f2f2;
   }
   .md-text{
    font-size: 15px; 
    text-align: left;
    background-color: #f22691; 
    color:white;

  }
  .md-text-brown{
    font-size: 15px; 
    text-align: left;
    background-color: #462202; 
    color:white;

  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 14%;
    top: 135px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}
  .in-menu{
    font-family: rounded-bold; 
    font-size:20px;
    color:#ff6600;
   margin: 12px;
   }
.car-text{
  visibility: visible;
  height: 40px;
  width: 150px;
}
.cust{
  height: 0.3rem;
  background-color:#f22691; 
  display: block;
  margin-top: 3px;
  border-radius: 40px;
}
.menu{
  font-size:22px;
   color:rgb(119, 40, 40);
   
 }
 .h3-pink{
  font-family: coffee; color:white;
  font-size:24px; transform: skewY(2deg);
  -webkit-transform: skewY(-12deg);
}
.bg-col{
  flex: 1 0 19.666667%;
  max-width: 41.666667%;
}
.md-skew{
  font-family: coffee;
  color: #f22691;
  font-size: 20px;
  transform: skewY(2deg);
  -webkit-transform: skewY(-12deg);
}
.coffeetext{
  font-family: coffee; 
  font-size:24px;
   color:white;
   transform: skewY(2deg);
   -webkit-transform: skewY(-12deg);
}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 768px) and (max-width:1200px) { 
  .food{
    margin-left: 50px;
    padding-top: 70px;
  }
  .coffeetext{
    font-family: coffee; 
    font-size:24px;
     color:white;
     transform: skewY(2deg);
     -webkit-transform: skewY(-12deg);
  }
  .md-text-brown{
    font-size: 15px; 
    text-align: left;
    background-color: #462202; 
    color:white;

  }
  .footer-text{
    font-size: 15px;
   }
  .btm-img-text{
    padding: 15px;
     width: 50%; 
     color: #f22691;
  }
  .btm-img{

    text-align: center;
     background-position: center; 
    background-size: cover; 
    background-image: url(bg-btm.png);
  }
  .links{
    text-decoration: none; 
    color:white; 
    font-size: 14px;
  }
  div.col-7{
    -webkit-box-flex: 0;
    flex: 0 0 50.333333%;
    max-width: 61.333333%;
  }
  .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 24.666667%;
}
  .container {
    width: 100%;
    margin-left: 50px;
    padding-top: 40px;
}
  .md{
    display:inline-block; 
  }
  .ml{
    display: none;
  }
  .insta-text{
   padding:25px;
   margin-left:35%;
  }
  .mainhome{
    background-image: url(right-parallax.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: right;
    background-color: #f2f2f2;
   }
   .md-text{
    font-size: 25px; 
    text-align: left;
    background-color: #f22691;
     color:white;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    top: 182px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left; 
}
  .in-menu{
    font-family: rounded-bold; 
    font-size:20px;
    color:#ff6600;
   margin: 12px;
   }
.car-text{
  visibility: visible;
  height: 40px;
  width: 150px;
}

.menu{
  font-size:23px;
   color:rgb(119, 40, 40);
   
 }
 .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  list-style: none;
  top: 0%;
  position: absolute;
  left: 40%;
}
.top-img{
  margin-top: 40px;
  padding-left: 160px;
}
.menu-item a
{
  color: #f22691;
  margin-right: 10px;
}
.menu-item a:hover{
  padding-top: 15px;
  background:  no-repeat url('active.png');
  background-size: inherit;
  background-repeat: no-repeat;
}
#nav-social{

  padding-left: 300px;
  display: inline-flex;
  height: 25px;
}
.nav-items{
  margin-top: 8px;
  margin-left: 10px;
}
.h3-pink{
  font-family: coffee; color:white;
  font-size:24px; transform: skewY(2deg);
  -webkit-transform: skewY(-12deg);
}
.ul{
width: 100px;
}
.bg-col{
  flex: 1 0 19.666667%;
  max-width: 41.666667%;
}
.md-skew{
  font-family: coffee;
  color: #f22691;
  font-size: 25px;
  transform: skewY(2deg);
  -webkit-transform: skewY(-12deg);
}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) { 
  .md-text-brown{
    font-size: 25px; 
    text-align: left;
    background-color: #462202; 
    color:white;

  }
  .coffeetext{
    font-family: coffee; 
    font-size:24px;
     color:white;
     transform: skewY(2deg);
     -webkit-transform: skewY(-12deg);
  }
  .bg-col{
    flex: 1 0 19.666667%;
    max-width: 41.666667%;
  }
  div.col-7{
    -webkit-box-flex: 0;
    flex: 0 0 50.333333%;
    max-width: 61.333333%;
  }
  .links{
    text-decoration: none; 
    color:white; 
    font-size: 14px;
  }
  .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 24.666667%;
}
  .container {
    width: 100%;
    margin-left: 50px;
    padding-top: 40px;
    max-width: 90%;
}
  .md{
    display:inline-block; 
   
  }
  .md-skew{
    font-family: coffee;
    color: #f22691;
    font-size: 30px;
    transform: skewY(2deg);
    -webkit-transform: skewY(-12deg);
  }
  .ml{
    display: none;
  }
  .insta-text{
   padding:25px;
   margin-left:35%;
  }
  .mainhome{
    background-image: url(right-parallax.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: #f2f2f2;
   }
   .md-text{
    font-size: 30px; 
    text-align: left;
    background-color: #f22691;
     color:white;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    top: 66px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left; 
}
  .in-menu{
    font-family: rounded-bold; 
    font-size:20px;
    color:#ff6600;
    
   }
.car-text{
  visibility: visible;
}
.menu{
  font-size:23px;
   color:rgb(119, 40, 40);
   
 }
 .footer-text{
  font-size: 20px;
 }
 .menu-item a
 {
   color: #f22691;
   margin-right: 10px;
 }
 .menu-item a:hover{
   padding-top: 15px;
   background:  no-repeat url('active.png');
   background-size: inherit;
   background-repeat: no-repeat;
 }
 #nav-social{
 
   padding-left: 300px;
   display: inline-flex;
   height: 25px;
 }
 .nav-items{
   margin-top: 8px;
   margin-left: 10px;
 }
 .btm-img{
   display: none;
 }
 .h3-pink{
  font-family: coffee; color:white;
  font-size:24px; transform: skewY(2deg);
  -webkit-transform: skewY(-12deg);
}
}